.Container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  background-image: url(../../assets/girl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.postPage1 {
  display: flex;
  gap: 300px;
}
.postPage1div {
  width: 550px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text2 {
  font-size: 60px;
  font-family: Arial Black;
}
.text3 {
  font-size: 20px;
}
.meet {
  margin-top: 50px;
}
.icon {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 1600px;
  top: 1180px;
}
.event {
  position: absolute;
  left: 850px;
  top: 1150px;
}
.group {
  position: absolute;
  left: 950px;
  top: 1600px;
}
.headerTitle {
  font-size: 60px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.headerText {
  color: white;
}
.input1 {
  background-color: white;
  width: 300px;
  height: 50px;
  border: 1px solid #0bbef2;
}
.button1 {
  background-color: #0bbef2;
  width: 150px;
  height: 50px;
  color: white;
  border: 1px solid #0bbef2;
}
.headerButton {
  display: flex;
  gap: 20px;
}
.header1 {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 300px;
  margin-left: 300px;
}
.header1 > div {
  margin-bottom: 50px;
}
.postPage2div {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Maskgroup {
  width: 700px;
}
.event2 {
  position: absolute;
  top: 2080px;
  left: 780px;
}
.event3 {
  position: absolute;
  top: 2200px;
  left: 750px;
}
.postPage2 {
  display: flex;
  gap: 300px;
  margin-top: 100px;
}
.postPage3 {
  display: flex;
  gap: 200px;
  margin-top: 100px;
  margin-bottom: 150px;
}
.Group18 {
  position: absolute;
  top: 2800px;
  left: 1200px;
}
.container11 {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.cards {
  height: 100vh;
  display: flex;
  align-items: center;
}
.cards > div {
  display: flex;
}
.Amy {
  display: flex;
  gap: 10px;
}
.text22 {
  font-size: 20px;
  width: 300px;
}
.title1 {
  font-size: 60px;
  font-family: Arial Black;
  display: flex;
  justify-content: center;
}
.btn9 {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-bottom: 100px;
}
.button86 {
  width: 80px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button86:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button86:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.Maskgroup {
  background-image: url("./../../assets/MaskGroup.png");
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
}
.MaskGroup2 {
  background-image: url("../../assets/MaskGroup2.png");
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 576px) {
  .icon {
    display: none;
  }
  .event {
    display: none;
  }
  .group {
    display: none;
  }
  .event2 {
    display: none;
  }
  .event3 {
    display: none;
  }
  .Group18 {
    display: none;
  }
  .Maskgroup {
    width: 100%;
  }
  .header1 {
    margin-left: 0px;
    margin-top: 200px;
    width: 100%;
  }
  .postPage2 {
    display: block;
  }
  .Maskgroup {
  display: none;
  }
  .text2 {
    font-size: 30px;
  }
  .postPage3 {
    gap: 0;
    margin-top: 0;
  }
  .text3 {
    font-size: 15px;
  }
  .MaskGroup2 {
    display: none;
  }
  .postPage2div{
    margin-top: 0;
  }
  .meet{
    display: none;

  }
  .postPage1{
    gap: 0;
  }
  .title1{
    font-family:Arial, Helvetica, sans-serif;
  }
}
