.Container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-image: url(../../assets/girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
