.Navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
}
.logo > div{
    margin-top: 17px;
    color: #0BBEF2;
}
.link{
    display: flex;
    align-items: center;
    gap: 16px;
}