.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.title{
  font-size: 50px;
  font-family: Arial Black;
}
.titleArea{
 width: 800px;
 gap: 50px;
}
.titleArea > div{
  display: flex;
  gap: 20px;
  color: gray;
}
.essay{
  width: 800px;
}
.comment{
  display: flex;
  gap: 20px;
  margin-right: 500px;
}
.image{
  width: 60px;
  height: 60px;
}
.name{
  font-size: 25px;
}
.CEO{
  color: gray;
}
.hr{
  width: 800px;
  border-top: 1px solid #DFE2E5;
}
.input{
  width: 500px;
  height: 150px;
  border: 1px solid #BBC8D4;
}
.join{
  font-size: 25px;
  color: gray;
}
.comment1{
  display: flex;
  gap: 50px;
}
.avatar1{
  width: 60px;
  height: 60px;
}
.comSec{
  margin-bottom: 150px;
}